<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/margen2.0.css">
    <title>Título de tu página</title>
  </head>
  <body>
    <main>
      <div class="container_default">
        <h1>
          Conoce nuestros planes <span class="highlight">LATINIUM ARRIENDO</span>
        </h1>
        <div class="paquetes_elixir between">
          <div id="paquetes" class="paquetes_container">
            <h2 id ="desde">DESDE <span id="price">$20</span></h2>
            <a id="mensuales" href="/productos">MENSUALES</a>
            <div id="lol" class="image_and_text">
              <ul>
                <li>Aplica para una empresa.</li>
                <li>Arriendo en la Nube: Acceso para 3 usuarios.</li>
                <li>Contabilidad: Completa funcionalidad contable con reportes y exportación a Excel.</li>
                <li>Facturación e Inventario: Gestión integral de transacciones y stock con soporte multi bodega.</li>
                <li>Trazabilidad: Análisis detallado y reportes de gestión.</li>
                <li>Incluye facturación electrónica Gratis.</li>
              </ul>
            </div>
            <img src="/src/images/panel-azul.svg" alt="Otra imagen de ejemplo" />
          </div>
          <div class="imagen_elixir">
            <img src="/src/images/latinium_logo.png" alt="Imagen de ejemplo" />
          </div>
          <div id="paquetes" class="paquetes_container">
            <h2 id ="desde">DESDE <span id="price">$30</span></h2>
            <a id="mensuales" href="/productos">MENSUALES</a>
            <div id="lol" class="image_and_text">
              <ul>
                <li>Aplica para una empresa.</li>
                <li>Arriendo en la Nube: Acceso para 3 usuarios.</li>
                <li>Contabilidad: Completa funcionalidad contable con reportes y exportación a Excel.</li>
                <li>Facturación e Inventario: Gestión integral de transacciones y stock con soporte multi bodega.</li>
                <li>Trazabilidad: Análisis detallado y reportes de gestión.</li>
                <li>Incluye facturación electrónica Gratis.</li>
              </ul>
            </div>
            <img src="/src/images/panel-azul.svg" alt="Otra imagen de ejemplo" />
          </div>
        </div>
      </div>
    </main>
  </body>
</html>