
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/src/css/margen2.0.css">
</head>
<body>
    <main>
        <div class="container_panel_producto">
            <h1 class="titulo_principal">Conoce nuestros planes  100% web</h1>
            <h6 class="sub_titulo">Encuentra el software contable Latinium ideal para ti</h6>
            <div class="panel aumentar">
                <div class="panel_container">
                    <h4>Desde</h4>
                    <h1>50 + IVA</h1>
                    <a href="/darsec" class="custom__button_main extra_color_blue">Contabilidad e Inventario</a>
                    <div class="image_and_text">
                        <img  src="/src/images/sisuno_.png" alt="">
                        <ul>
                            <li>Usuarios: 3, con capacitación y soporte técnico.</li>
                            <li>Contabilidad e inventario.</li>
                            <li>Módulo MiPymes.</li>
                            <li>Facturación electrónica.</li>
                            <li>Reportes contables.</li>
                            <li>Registro de proyectos y bodegas.</li>
                            <li>Control de inventario.</li>
                            <li>240 registros de facturación.</li>
                          </ul>
                    </div>
                    <img id="azul" src="/src/images/panel-azul.svg" alt="">
                </div>
                <div class="panel_container">
                    <h4>Desde</h4>
                    <h1>84 + IVA</h1>
                    <button class="custom__button_main extra_color_blue">Facturación electrónica ilimitada</button>
                    <div class="image_and_text">
                        <img  src="/src/images/sisdos.png" alt="">
                        <ul>
                            <li>Usuarios: 3, con capacitación y soporte técnico.</li>
                            <li>Facturación electrónica ilimitada.</li>
                            <li>Liquidación de compras.</li>
                            <li>Notas de crédito/débito.</li>
                            <li>Comprobantes de retención.</li>
                            <li>Guías de remisión.</li>
                            <li>Reportes de SRI.</li>
                            <li>Manejo de múltiples sucursales.</li>
                          </ul>
                    </div>
                    <img src="/src/images/panel-azul.svg" alt="">
                </div>
                <div class="panel_container">
                    <h4>Desde</h4>
                    <h1>120 + IVA</h1>
                    <button class="custom__button_main extra_color_blue">Facturación electrónica ilimitada e inventario</button>
                    <div class="image_and_text">
                        <img  src="/src/images/sistres.png" alt="">
                        <ul>
                            <li>Usuarios: 3, con capacitación y soporte técnico.</li>
                            <li>Facturación electrónica ilimitada.</li>
                            <li>Liquidación de compras.</li>
                            <li>Notas de crédito/débito.</li>
                            <li>Comprobantes de retención.</li>
                            <li>Guías de remisión.</li>
                            <li>Reportes de inventario.</li>
                            <li>Importación masiva clave de acceso.</li>
                          </ul>
                    </div>
                    <img src="/src/images/panel-azul.svg" alt="">
                    
                </div>
                <div class="panel_container">
                    <h4>Desde</h4>
                    <h1>240 + IVA</h1>
                    <button class="custom__button_main extra_color_blue">Contabilidad e Inventario</button>
                    <div class="image_and_text">
                        <img  src="/src/images/sisuno_.png" alt="">
                        <ul>
                            <li>Tributación</li>
                            <li>Contabilidad avanzada e inventario.</li>
                            <li>Modulo MiPymes.</li>
                            <li>Registro de bancos.</li>
                            <li>Centro de costos.</li>
                            <li>Facturación electrónica ilimitada.</li>
                            <li>Cotización.</li>
                            <li>Importación masiva clave de acceso.</li>
                            <li>Reportes de inventario.</li>
                          </ul>
                    </div>
                    <img src="/src/images/panel-azul.svg" alt="">
                </div>
            </div> 
    
        </div>
    </main>
</body>
</html>