<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/margen.css">
</head>
<body>
    <div class="centro column">
        <div class="panel_minimalista">
            <h1>Incluye</h1>
            <div class="component">
                <h2>Facturación Electrónica</h2>
                <a href="custom_a">GRATIS</a>
            </div>
        </div>
    </div>
    <div class="container_default">
        <h1>
            Conoce nuestros planes <span class="highlight">LATINIUM</span>
        </h1>
        <div class="paquetes_elixir between">
            <div class="paquetes_container">
                <h2>DESDE $700</h2>
                <a  id="palabra" href="/primerp">SERVICIOS</a>
                <img
                    id="lati_log"
                    src="/src/images/log.jpg"
                    alt="Imagen de ejemplo"
                />
                <div class="image_and_text">
                    <ul>
                        <li>Multiempresas.</li>
                        <li>Multiusuarios.</li>
                        <li>Contabilidad: Completa funcionalidad contable con reportes y exportación a Excel.</li>
                        <li>Facturación  Servicios.</li>
                        <li>Trazabilidad: Análisis detallado y reportes de gestión.</li>
                        <li>Incluye facturación electrónica Gratis.</li>
                        <li>Soporte técnico.</li>
                    </ul>
                </div>
                <img src="/src/images/panel-azul.svg" alt="Otra imagen de ejemplo" />
            </div>
            <div class="paquetes_container">
                <h2>DESDE $700</h2>
                <a  id="palabra2" href="/primerp">COMERCIAL</a>
                <img
                    id="lati_log"
                    src="/src/images/log.jpg"
                    alt="Imagen de ejemplo"
                />
                <div class="image_and_text">
                    <ul>
                        <li>Multiempresas.</li>
                        <li>Multiusuarios.</li>
                        <li>Contabilidad: Completa funcionalidad contable con reportes y exportación a Excel.</li>
                        <li>Facturación  Servicios.</li>
                        <li>Trazabilidad: Análisis detallado y reportes de gestión.</li>
                        <li>Incluye facturación electrónica Gratis.</li>
                        <li>Soporte técnico.</li>
                    </ul>
                </div>
                <img src="/src/images/panel-azul.svg" alt="Otra imagen de ejemplo" />
            </div>
            <div class="paquetes_container">
                <h2>DESDE $700</h2>
                <a  id="palabra3" href="/primerp">PREMIUM</a>
                <img
                    id="lati_log"
                    src="/src/images/log.jpg"
                    alt="Imagen de ejemplo"
                />
                <div class="image_and_text">
                    <ul>
                        <li>Multiempresas.</li>
                        <li>Multiusuarios.</li>
                        <li>Contabilidad: Completa funcionalidad contable con reportes y exportación a Excel.</li>
                        <li>Facturación  Servicios.</li>
                        <li>Trazabilidad: Análisis detallado y reportes de gestión.</li>
                        <li>Incluye facturación electrónica Gratis.</li>
                        <li>Soporte técnico.</li>
                    </ul>
                </div>
                <img src="/src/images/panel-azul.svg" alt="Otra imagen de ejemplo" />
            </div>
        </div>
    </div>
    <div class="centro column">
        <div class="otra_barra">
            <h1>Incluye</h1>
            <div class="component">
                <h2>Facturación Electrónica</h2>
                <a href="/contacto">GRATIS</a>
            </div>
        </div>
        <a id="boton" class="custom_a" href="/contacto">Adquirir ahora</a>
    </div>
</body>
</html>
