<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/margen2.0.css">
  <title>Título de tu página</title>
</head>
<body>
<main>
  <div class="container_default">
    <h1>¡Explora el paquete <span class="highlight">Fast</span> que se ajusta a ti!</h1>
    <p class="subtitle">Disponible en Pc, Celular y Tablet.</p>
    <div class="paquetes_elixir">
      <div class="paquetes_container">
        <h2>DESDE</h2>
        <a href="fast">$10 + IVA</a>
        <img id="imagen_panel" src="/images/icons/fast_icon.svg" alt="Imagen de ejemplo">
        <div class="image_and_text">
          <ul>
            <li>100 registros.</li>
            <li>Auditoria.</li>
            <li>Tiempo de uso ilimitado.</li>
            <li>Descuento Global.</li>
            <li>Documentos electrónicos para emisión.</li>
            <li>Factura de venta.</li>
            <li>Nota de Crédito.</li>
            <li>Manejo de IVA 0% - 15%</li>
            <li>Cotización.</li>
            <li>Reportes de ventas.</li>
          </ul>
        </div>
        <img src="/images/panel-azul.svg" alt="Otra imagen de ejemplo">
      </div>
<div class="paquetes_container">
  <h2>DESDE</h2>
  <a href="fast">$15 + IVA</a>
  <img id="imagen_panel" src="/images/icons/fast_icon.svg" alt="Imagen de ejemplo">
  <div class="image_and_text">
    <ul>
      <li>200 registros.</li>
      <li>Auditoria.</li>
      <li>Tiempo de uso ilimitado.</li>
      <li>Descuento Global.</li>
      <li>Documentos electrónicos para emisión.</li>
      <li>Factura de venta.</li>
      <li>Nota de Crédito.</li>
      <li>Manejo de IVA 0% - 15%</li>
      <li>Cotización.</li>
      <li>Reportes de ventas.</li>
    </ul>
  </div>
  <img src="/images/panel-azul.svg" alt="Otra imagen de ejemplo">
</div>
  <div class="paquetes_container">
    <h2>DESDE</h2>
    <a href="fast">$20 + IVA</a>
    <img id="imagen_panel" src="/images/icons/fast_icon.svg" alt="Imagen de ejemplo">
    <div class="image_and_text">
      <ul>
        <li>2000 registros.</li>
        <li>Auditoria.</li>
        <li>Tiempo de uso ilimitado.</li>
        <li>Descuento Global.</li>
        <li>Documentos electrónicos para emisión.</li>
        <li>Factura de venta.</li>
        <li>Nota de Crédito.</li>
        <li>Manejo de IVA 0% - 15%</li>
        <li>Cotización.</li>
        <li>Reportes de ventas.</li>
      </ul>
    </div>
    <img src="/images/panel-azul.svg" alt="Otra imagen de ejemplo">
  </div>
    <div class="paquetes_container">
      <h2>DESDE</h2>
      <a href="fast">$25 + IVA</a>
      <img id="imagen_panel" src="/images/icons/fast_icon.svg" alt="Imagen de ejemplo">
      <div class="image_and_text">
        <ul>
          <li>Facturas ilimitadas</li>
          <li>Auditoria.</li>
          <li>Tiempo de uso ilimitado.</li>
          <li>Descuento Global.</li>
          <li>Documentos electrónicos para emisión.</li>
          <li>Factura de venta.</li>
          <li>Nota de Crédito.</li>
          <li>Manejo de IVA 0% - 15%</li>
          <li>Cotización.</li>
          <li>Reportes de ventas.</li>
        </ul>
      </div>
      <img src="/images/panel-azul.svg" alt="Otra imagen de ejemplo">
    </div>
    </div>
  </div>
</main>
</body>
</html>