<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capacitación</title>
    <link rel="stylesheet" href="/css/margen2.0.css">
</head>
<body>
    <div class="capacitacion_main">
        <h1>¡Bienvenido a Elixir 
            Capacitaciones!</h1>
    </div>
    <div class="capacitacion_container">
        <h1>Explora lo que tenemos para ti</h1>
        <p>Te invitamos a capacitarte con nosotros y ser parte de los mas de (cantidad x) <br> trabajadores que asisten a nuestras capacitaciones al año.</p>
        <div class="cuadros_container">
            <div class="cuadros">
                <h6>Para Contadores</h6>
                <p id="parrafo">Al unirte a nuestras capacitaciones, aprenderás a aprovechar al máximo el sistema gratuito para contadores que ofrece Latinium. Descubre cómo generar informes financieros detallados y personalizables para satisfacer las necesidades específicas de tus clientes.</p>
            </div>
            <div class=" icon_latinium ">
                <h6>Para Cientes Latinium</h6>
                <p id="parrafo"> Con nuestras capacitaciones en el sistema Latinium, te convertirás en un maestro de la automatización avanzada de tareas contables.</p>
            </div>
            <div class=" icon_darsec ">
                <h6>Para Cientes Darsec</h6>
                <p id="parrafo">Nuestras capacitaciones con el sistema DARSEC aprenderás todas las funcioanlidades como generecion de informes detallados y personalizado, etc.</p>
            </div>

        </div>
        <a class="custom_a" href="/contacto">Solicitar Capacitacion</a>
    </div>
    
</body>

</html>