<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/margen2.0.css">
</head>
<body>
    
    <div class="page2_main">
        <h1>¿Qué vas a aprender con nosotros?</h1>
        <div class="capa_bene column">
            <div class="columna">
                <div class="capa_container">
                    <img src="/images/check_morado.png" alt="">
                    <div class="capa_segundo">
                        <h1>Aprendizaje Dinámico y Práctico</h1>
                        <p>En Latinium, nuestras capacitaciones no son solo teoría. Te sumergimos en situaciones reales y prácticas, preparándote para enfrentar y resolver los desafíos del mundo de la facturación y contabilidad.</p>
                    </div>
                </div>
                <div class="capa_container">
                    <img src="/images/check_morado.png" alt="">
                    <div class="capa_segundo">
                        <h1>Expertos en la Materia</h1>
                        <p>Aprende de los mejores. Nuestros instructores son profesionales con años de experiencia en la industria de la facturación y están listos para compartir sus conocimientos y secretos contigo. ¡Estás en buenas manos!</p>
                    </div>
                </div>
    
            </div>
            <div class="columna">
                <div class="capa_container">
                    <img src="/images/check_morado.png" alt="">
                    <div class="capa_segundo">
                        <h1>Tecnología de Vanguardia</h1>
                        <p>Nos mantenemos a la vanguardia de la tecnología. Durante nuestras capacitaciones, te familiarizarás con las últimas herramientas y software de facturación, asegurándote de estar siempre un paso adelante en tu carrera.</p>
                    </div>
                    
                </div>
                <div class="capa_container">
                    <img src="/images/check_morado.png" alt="">
                    <div class="capa_segundo">
                        <h1>Red de Contactos</h1>
                        <p>En Latinium, no solo obtienes conocimientos, también construyes conexiones valiosas. Conoce a otros profesionales y expande tu red de contactos en la industria, abriendo puertas a nuevas oportunidades laborales y de colaboración.</p>
                    </div>
                </div>
    
            </div>
            <div class="columna">
                <div class="capa_container">
                    <img src="/images/check_morado.png" alt="">
                    <div class="capa_segundo">
                        <h1>Certificación Reconocida</h1>
                        <p>Al finalizar nuestras capacitaciones, recibirás una certificación reconocida en el sector de la facturación. Esta acreditación te dará una ventaja competitiva en el mercado laboral y destacará tu compromiso con el desarrollo profesional.</p>
                    </div>
                    
                </div>
                <div class="capa_container">
                    <img src="/images/check_morado.png" alt="">
                    <div class="capa_segundo">
                        <h1>Flexibilidad y Comodidad</h1>
                        <p>Sabemos lo importante que es tu tiempo. Por eso, ofrecemos opciones de capacitación flexibles, tanto en línea como presenciales, adaptándonos a tus necesidades y horarios para que puedas aprender sin estrés.</p>
                    </div>
                </div>
    
            </div>
            

        </div>
    </div>
</body>
</html>