@font-face {
    font-family: 'Exo 2';
    src: url(/public/fuentes/Exo_2/Exo2-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Serif';
    src: url(/public/fuentes/Roboto_Serif/RobotoSerif-VariableFont_GRAD,opsz,wdth,wght.ttf);
    font-weight: normal;
    font-style: normal;
}
:root {
    --font-titulo: 'Exo 2', sans-serif;
    --font-parrafo: 'Roboto', sans-serif;
    --color-primary: #090979;
    --color-secondary: #c67ad4;
    --color-boton: #6ffaf5;
    --color-boton-rosado: #9b25ba;
    --tamano-titulo: 20px;
    --tamano-propuesta: 25px;
}
.section{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 110px;
    li{
        list-style: none;
        background-image: url(../images/icon_check.png);
        background-repeat: no-repeat;
        background-position: 0% 50%;
        background-size: 19px;
        padding-left: 26px;
        font-size: 16px;
        color: white;
        font-family: var(--font-titulo);
        height: 19px;
        font-weight: 1000;
        margin-bottom: 28px;
        
    }
}
.section_move{
    li{
        margin-bottom: 40px;
    }
    ul{
        padding-left: 10px;
    }
}
.agregar{
    position: absolute;
    background-color:white;
    color: var(--color-primary);
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 38px;
    font-family: var(--font-parrafo);
    font-size: 15px;
    font-weight: bold;
    text-align: end;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    cursor: pointer;
    margin-top: 430px;
    margin-left: 60px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-position: 10% 50%;
    background-size: 25px;
    text-decoration: none;

    &:hover{
        background-color: var(--color-secondary);
    }

}

.panel_morado{
    height: 500px;
    width: 291px;
    margin-top: 10px;
    background-color: #7A30D8;
    border-radius: 20px;
    position: relative;
    img{
        position: absolute;
        margin-top: -90px;
        margin-left: 40px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        
    }
    h5{
        position: absolute;
        font-family: var(--font-titulo);
        color: white;
        font-size: 34px;
        font-weight: bold;
        margin-left: 83px;
        margin-top: -70px;
    }
    h2{
        position: absolute;
        font-family: var(--font-titulo);
        color: white;
        font-size: 52px;
        font-weight: bold;
        text-align: center;
        margin-top: 320px;
        width: 100%;
        animation: parpadeo 1.5s infinite;
    }
    h6{
        position: absolute;
        font-family: var(--font-titulo);
        color: white;
        font-size: 20px;
        font-weight: bolder;
        text-align: center;
        margin-top: 90px;
        width: 100%;
    }
    button{
        position: absolute;
        font-family: var(--font-titulo);
        color: white;
        font-weight: bolder;
        text-align: center;
        margin-top: 70px;
        margin-left: 41px;
        width: 181px;
        height: 41px;
        border-radius: 20px;
        border: none;
        background-color: #ffffff;
        background-image: url(../images/darsec.png);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100px;
        cursor: pointer;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    #pequeño{
        margin-top: 360px;
        font-size: 30px;
    }


}
.custom_a{
    margin-top: 20px;
    display: flex;
    border: none;
    font-size: var(--tamano-titulo);
    font-weight: bold;
    color: var(--color-primary);
    background-color: var(--color-boton);
    border-radius: 20px;
    height: 48px;
    width: 250px;
    align-items: center;
    justify-content: center;
    font-family: var(--font-titulo);
}
@keyframes parpadeo {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.move_right{
    position: absolute;
    width: 75px;
    right: 0;
    height: 55px;
    background-color: none;
    background-image: url(../images/across_right.svg);
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: 50% 50%;
    cursor: pointer;
    margin-top: 290px;
    margin-left: 20px;
}
.move_left{
    position: absolute;
    width: 75px;
    left: 0;
    height: 55px;
    background-image: url(../images/move_left.svg);
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: 50% 50%;
    cursor: pointer;
    margin-top: 290px;
}
iframe{
    border-radius: 20px;
}
.silder_container {
    margin-left: 80px;
    margin-bottom: 50px;
    margin-top: 100px;
    width: 1240px;
    gap: 80px;
    margin-left: 100px;
    display: flex;
    transition: transform 0.5s ease;
}
.ajusta{
    margin-left: 250px;
}
.superajusta{
    margin-left: 250px;
}

.slider{
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    margin-left: 50px;
    iframe{
        margin-right: 100px;
        margin-top: 100px;
    }
}

.main_lati {
    position: relative;
    width: 100%;
    overflow: hidden;
    h1{
        font-family: var(--font-titulo);
        font-size: 50px;
        color: white;
        text-align: center;
        &:hover{
            color: var(--color-secondary);
        }
    }
}

main{
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;



}
.ad_cards{
    width: calc(100% / 2);
    margin-top: 71px;
    background-image: url(/public/images/elixir_img.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}
.none_image{
    background: none;
    
}
.titulo_principal {
    font-family: var(--font-titulo);
    font-size: 50px;
    color: var(--color-primary);
    margin: 10px;
    text-align: center;
}
.beneficios {
    margin-top: 100px;
}
.bene_container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
}
.div_content_bene {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    height: 100px;

    h6 {
        position: absolute;
        font-family: var(--font-titulo);
        font-size: 15px;
        color: var(--color-primary);
        text-align: center;
        margin: 0;
        margin-left: 70px;
    }

    h3 {
        position: absolute;
        font-family: var(--font-titulo);
        font-size: 20px;
        color: var(--color-primary);
        text-align: justify;
        margin-top: 20px;
        margin-left: 70px;
    }
}
.bene_img {
    max-width: 60px;

}
.blanco{
    margin-top: 1px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}

/* Firma  CSS */

.principal{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: var(--color-primary);
    flex-direction: column;
    align-items: center;


    h1{
        font-family: "Exo 2", sans-serif;
        font-size: 32px;
        color: white;
    }
}
.beneficios{
    display: flex;
    gap: 290px;
    margin-bottom: 20px;
    margin-left: 80px;
    img{
        width: 25em;
        height: 25em;
        border-radius: 20px;
        box-shadow: -15px 22px 4px -3px rgba(0, 0, 0, 0.35);
    }
}
.panel_celeste.hidden{
    opacity: 0;
}
.panel_celeste_dos.visible{
    opacity: 1;
}
.panel_celeste{
    opacity: 1;
    transition: opacity 1s ease-in-out;
    position: relative;
    margin-top: -50px;
    width: 400px;
    height: 500px;
    background: #80B3FF;
    box-shadow: 28px 26px 11.800000190734863px rgba(62.93, 214.56, 235.24, 0.25);
    border-radius: 30px;
    h2{
        color: white;
        font-size: 32px;
        width: 300px;
        margin-left: 20px;
        font-family: "Exo 2", sans-serif;
        font-weight: 1000;
        word-wrap: break-word
    }
    li{
        list-style-type: none;
        font-family: "Exo 2", sans-serif;
        font-size: 25px;
        margin-right: 20px;
        width: 10em;
        font-weight: 800;
        color: var(--color-primary);
        padding: 0px 50px;
        margin-top: 20px;
        background-image: url("/public/images/puntito.svg");
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: 10px 10px;

    }
}
.panel_celeste_dos{
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1000;
    right: 150px;
    margin-top: -50px;
    width: 400px;
    height: 500px;
    background: #80B3FF;
    box-shadow: 28px 26px 11.800000190734863px rgba(62.93, 214.56, 235.24, 0.25);
    border-radius: 30px;
    h2{
        color: white;
        font-size: 32px;
        width: 300px;
        margin-left: 20px;
        font-family: "Exo 2", sans-serif;
        font-weight: 1000;
        word-wrap: break-word
    }
    li{
        list-style-type: none;
        font-family: "Exo 2", sans-serif;
        font-size: 25px;
        margin-right: 20px;
        width: 10em;

        font-weight: 800;
        color: var(--color-primary);
        padding: 0px 50px;
        margin-top: 20px;
        background-image: url("/public/images/puntito.svg");
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: 10px 10px;

    }

}










.laptop_image_con {
    position: absolute;
    width: 250px;
    img {
        width: 100%;
        margin-bottom: 50px;
    }
    button {
        background: linear-gradient(141deg, #204FB6 0%, #9C64D9 100%);
        border-radius: 30px;
        color: white;
        border: none;
        font-family: var(--font-parrafo);
        font-size: 15px;
        height: auto;
        width: 190px;
        margin-left: 30px;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
    }

    P {
        font-family: var(--font-parrafo);
        font-size: 15px;
        font-weight: bold;
        color: #090979;
        margin-left: 70px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100px;
    }

    #valorado {
        font-size: 30px;
        color: #090979;
        margin: 0;
        align-self: center;
        margin-top: 10px;
        width: 120px;
        margin-left: 60px;
    }
    #pequeño{
        font-size: 20px;
        width: 170px;
        margin-left: 50px;
        font-family: var(--font-parrafo);
        font-weight: bold;
        color:var(--color-primary);
    }
}

.container_default{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    h1{
        font-family: var(--font-titulo);
        font-size: 40px;
        text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
        font-weight: bold;
        color: var(--color-primary);
        text-align: center;
        margin-top: 50px;
    }
    p{
        font-family: var(--font-parrafo);
        font-size: 30px;
        text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
        color: var(--color-secondary);
        text-align: center;
        font-weight: bold;
        margin: 20px;
    }
}
.highlight{
    color: var(--color-secondary);
}
.espacio{
    margin-top: 50px;
    margin-bottom: 50px;
}

@media (max-width: 1000px) and (min-width: 300px) {
    .panel_celeste_dos{
        position: absolute;
        right: auto;
        bottom: 0;
        margin-bottom: 90px;
        width: 300px !important;
    }
    .panel_celeste{
        margin-top: 100px;
        width: 300px !important;
    }
    .principal{
        position: relative;
        padding-bottom: 90px;
    }
    .beneficios{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        gap: 0;
        li{
            font-size: 20px;
        }
        img{
            margin-left: 20px;
            width: 250px;
            height: 250px;
        }
    }







    .move_left, .move_right{
        display: block;
    }
    #sli{
        margin-left: 20px;
    }
    .silder_container{
        max-width: 400px;
        margin-bottom: 50px;
        margin-top: 100px;
        display: flex;
        margin-left: 40px;
        transition: transform 0.5s ease;
    }
    .slider{
        box-sizing: border-box;
        margin-left: 40px;
        margin-right: 15px;
    }
    .ajusta{
        margin-left: 20px;
    }
    .superajusta{
        margin-left: 20px;
    }
    .ad_cards{
        width: 100%;
    }
    #pedro{
        display: none;
    }
    
.bene_container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}
    .titulo_principal {
        font-size: 30px;
        font-weight: bold;
        color: var(--color-primary);
        text-align: start;
    }
    .bene_container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        width: 100%;
    }
    .imagen_blue_container{
        width: 100%;
        background-image: none;
        background-color: var(--color-primary);
    }
  
}
