.container_elementos{
    display: flex;
    justify-content: center;
    gap: 10px;

}
.container_icons{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    #verificado , #tiempo, #cash{
        width: 30px;
        height: 30px;
        margin-top: 10px;
        margin-left: 10px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    #tiempo{
        margin-top: 60px;
    }
    #cash{
        margin-top: 115px;
    }
    p{
        font-family: var(--font-titulo);
        font-size: 17px;
        color: white;
        align-self: start;
        font-weight: bold;
        margin-left: 4em;
        margin-top: 15px;
    }
}
.elemento{
    margin-top: 130px;
    width: 200px;

    h1{
        font-family: var(--font-titulo);
        font-size: 25px;
        color: white;
        align-self: center;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
    }
    p{
        font-family: var(--font-titulo);
        font-size: 15px;
        color: white;
        align-self: center;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;
    }
}

.panel_morado{
    height: 600px;
    width: 401px;
    margin-top: 10px;
    background-color: #7A30D8;
    border-radius: 20px;
    box-shadow: -10px -9px 4px rgba(157.46, 36.75, 187.64, 0.50);
    position: relative;
    &:hover{
        box-shadow: -18px -9px 4px rgba(179, 118, 241, 0.75);
    }
    img{
        position: absolute;
        margin-top: -100px;
        margin-left: 90px;
        width: 250px;
        height: 180px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    }
    #images{
        margin-top: 140px;

    }
    h5{
        position: absolute;
        font-family: var(--font-titulo);
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        margin-left: 80px;
        margin-top: 80px;
        width: 100%;
    }
    h3{
        text-decoration-line: underline;
        text-align: center;
        font-family: var(--font-parrafo);
        color: #ffffff;
        font-size: 25px;
        font-weight: bold;
        margin-top: 20px;
        cursor: pointer;
        &:hover{
            color: #00196c;

        }
    }

    #pequeño{
        margin-top: 370px;
        font-size: 30px;
    }
}
.morado{
    margin-top: 1px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(179, 118, 241, 0.75);
    border-radius: 10px;
}

.slider{
    box-sizing: border-box;
    display: flex;
    gap: 100px;
    padding-top: 150px;
    margin-left: 100px;
    iframe{
        margin-right: 100px;
        margin-top: 100px;
    }
}
@media (max-width: 1000px) and (min-width: 300px)
{
    .slider{
        border: 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        iframe{
            align-self: center;
            width: 300px;
            height: 200px;
            margin-right: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .elemento{
        h1{
            font-size: 20px;
        }
    }
    .container_icons{
        #verificado, #tiempo, #cash{
            width: 20px;
            height: 20px;

        }
        p{
            font-size: 12px;
        }

    }
    .panel_morado{
        width: 300px;
        height: 500px;
        h3{
            font-size: 15px;
        }
        img{
            margin-left: 60px;
            margin-top: -80px;
            width: 200px;
            height: 150px;
        }
        h5{
            margin-left: 35px;
        }
    }

}