:root {
    --font-titulo: 'Exo 2', sans-serif;
    --font-parrafo: 'Roboto', sans-serif;
    --color-primary: #090979;
    --color-secondary: #c67ad4;
    --color-boton: #6ffaf5;
    --color-boton-rosado: #9b25ba;
    --tamano-titulo: 20px;
    --tamano-propuesta: 25px;
}
.footer{
    display: flex;
    max-width: 100%;
    height: 400px;
    background-color: var(--color-primary);

}
.footer_container{
    height: 70%;
    width: 100%;
    margin-right: 20px;
    display: flex;
    img{
        width: 300px;
        margin-left: 50px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
.info_footer{
    display: flex;
    color: white;
    font-family: var(--font-parrafo);
    font-size: 20px;
    margin-left: 50px;
    max-width: max-content;
    height: 35%;
    align-items: center;
    img{
        width: 30px;
        margin-right: 12px;
    }
}
.info_container_icons{
    height: 20vh;
}
.info_button_footer{
    display: flex;
    width: 156px;
    height: 166px;
    color: white;
    margin-left: 50px;
    margin-top: 20px;
    a{
        font-family: var(--font-titulo);
    }
    p{
        font-family: var(--font-parrafo);
        font-size: 20px;
        margin: 10px;
        text-align: justify;

    }
}

.info_footer_socials{
    width: 50%;
    height: 99%;
    display: flex;
    
}
.button_footer_social{
margin-left: 400px;
img{
    width: 150px;
    margin-left: 50px;
    background-color: var(--color-boton-rosado);
    
}
a{
    font-family: var(--font-parrafo);
    font-size: 30px;
    width: 217px;
    font-weight: bold;
    height: 56px;
    text-decoration: none;
    background-color: var(--color-secondary);
    
}
}
.barra{
    width: 100%;
}