<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latinium</title>
    <style>
        /* Agrega estos estilos al archivo CSS */
        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    </style>
</head>
<body>
    <div class="main_lati">
        <h1>Latinium</h1>
        <div class="move_left"></div>
        <div class="move_right"></div>
        <div class="silder_container">
            <div class="slider" id="sli">
                <div class="panel_morado">
                    <img src="/src/images/lapto 2.png" alt="Latinium Contador">
                    <h6>LATINIUM CONTADOR</h6>
                    <div class="section">
                        <ul>
                            <li>Sin limite de empresas</li>
                            <li>Licencia a perpetuidad</li>
                            <li>Sin limite de transacciones</li>
                            <li>Totalmente integrado</li>
                        </ul>
                    </div>
                    <h2>FREE!!</h2>
                    <a href="/contacto" class="agregar">Agregar</a>
                </div>
            </div>
            <div class="slider">
                <div class="panel_morado">
                    <img src="/src/images/laptop_e2 1.png" alt="Latinium Facturación Inventario">
                    <h6>LATINIUM FACTURACIÓN INVENTARIO</h6>
                    <div class="section section_move">
                        <ul>
                            <li>Control y Optimización de Inventarios</li>
                            <li>Automatización y Precisión en la Gestión Financiera</li>
                            <li>Facilidad de Uso y Cumplimiento Normativo</li>
                            <li>Flexibilidad y Personalización de Precios</li>
                        </ul>
                    </div>
                    <h2>$800,00</h2>
                    <a href="/contacto" class="agregar">Agregar</a>
                </div>
            </div>
            <div class="slider">
                <div class="panel_morado">
                    <img src="/src/images/laptop_e8 1.png" alt="Latinium Inventario Fisico Free">
                    <h6>LATINIUM INVENTARIO FISICO FREE</h6>
                    <div class="section section_move">
                        <ul>
                            <li>Facilidad de Importación y Exportación de Datos</li>
                            <li>Creación y Gestión de Artículos Simplificada</li>
                            <li>Conteo de Inventario Eficiente</li>
                            <li>Gestión de Múltiples Bodegas</li>
                        </ul>
                    </div>
                    <h2>FREE!!</h2>
                    <a href="/contacto" class="agregar">Agregar</a>
                </div>
            </div>
            <div class="slider ajusta">
                <div class="panel_morado">
                    <img src="/src/images/laptop_e1 1.png" alt="Latinium Arriendo">
                    <h6>LATINIUM ARRIENDO</h6>
                    <div class="section section_move">
                        <ul>
                            <li>Gestión Financiera Completa e Integrada</li>
                            <li>Automatización y Eficiencia en la Facturación e Inventarios</li>
                            <li>Control y Seguimiento de Activos Fijos</li>
                            <li>Generación de informes financieros integrados</li>
                        </ul>
                    </div>
                    <h2 id="pequeño">$50,00 – $600,00</h2>
                    <a href="/contacto" class="agregar">Agregar</a>
                </div>
            </div>
            <div class="slider">
                <div class="panel_morado">
                    <img src="/src/images/image15.png" alt="Latinium Comercial">
                    <h6>LATINIUM COMERCIAL</h6>
                    <div class="section section_move">
                        <ul>
                            <li>Optimización de Facturación e Inventarios</li>
                            <li>Automatización y Eficiencia en Documentación Electrónica</li>
                            <li>Capacitación y Soporte Continuo</li>
                            <li>Herramientas de Administración Gerencial</li>
                        </ul>
                    </div>
                    <h2>$1.000,00</h2>
                    <a href="/contacto" class="agregar">Agregar</a>
                </div>
            </div>
            <div class="slider">
                <div class="panel_morado">
                    <img src="/src/images/image15.png" alt="Latinium Servidor">
                    <h6>LATINIUM SERVIDOR</h6>
                    <div class="section section_move">
                        <ul>
                            <li>Gestión Contable y Financiera Avanzada</li>
                            <li>Optimización de Facturación e Inventarios</li>
                            <li>Control y Gestión de Activos Fijos</li>
                            <li>Trazabilidad y Comparativos Detallados</li>
                        </ul>
                    </div>
                    <h2>$1.500,00</h2>
                    <a href="/contacto" class="agregar">Agregar</a>
                </div>
            </div>
            <div class="slider superajusta">
                <div class="panel_morado">
                    <img src="/src/images/laptop_e6 1.png" alt="Latinium Servicios">
                    <h6>LATINIUM SERVICIOS</h6>
                    <div class="section section_move">
                        <ul>
                            <li>Gestión Contable Integral y Precisa</li>
                            <li>Automatización y Eficiencia en Facturación y Tributación</li>
                            <li>Cumplimiento Tributario Simplificado</li>
                            <li>Capacitación y Soporte Continuo</li>
                        </ul>
                    </div>
                    <h2>$800,00</h2>
                    <a href="/contacto" class="agregar">Agregar</a>
                </div>
            </div>
            <div class="slider superajusta">
                <div class="panel_morado">
                    <img src="/src/images/laptop_e9 1.png" alt="Latinium Inventario Fisico Pro">
                    <h6>LATINIUM INVENTARIO FISICO PRO</h6>
                    <div class="section section_move">
                        <ul>
                            <li>Costo Accesible y Plan Anual</li>
                            <li>Gestión Integral de Artículos e Inventarios</li>
                            <li>Optimización del Conteo y Seguimiento de Inventarios</li>
                            <li>Instalación Adicional y Soporte</li>
                        </ul>
                    </div>
                    <h2>$150,00</h2>
                    <a href="/contacto" class="agregar">Agregar</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        let currentIndex = 0;
        const sliders = document.querySelectorAll('.slider');
        const totalSliders = sliders.length;
        const moveRightButton = document.querySelector('.move_right');
        const moveLeftButton = document.querySelector('.move_left');

        function updateButtons() {
            if (currentIndex === totalSliders - 1) {
                moveRightButton.classList.add('disabled');
            } else {
                moveRightButton.classList.remove('disabled');
            }

            if (currentIndex === 0) {
                moveLeftButton.classList.add('disabled');
            } else {
                moveLeftButton.classList.remove('disabled');
            }
        }

        document.querySelector('.move_right').addEventListener('click', function() {
            if (currentIndex < totalSliders - 1) {
                currentIndex++;
                updateSliderPosition();
                updateButtons();
            }
        });

        document.querySelector('.move_left').addEventListener('click', function() {
            if (currentIndex > 0) {
                currentIndex--;
                updateSliderPosition();
                updateButtons();
            }
        });

        function updateSliderPosition() {
            const sliderContainer = document.querySelector('.silder_container');
            const newPosition = -currentIndex * 100; // Asegúrate de ajustar el valor según el tamaño de tus sliders
            sliderContainer.style.transform = `translateX(${newPosition}%)`;
        }

        // Inicializa el estado de los botones al cargar la página
        updateButtons();
    </script>
</body>
</html>
