<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/css/productos.css">
  </head>
  <body>
    <div class="blanco">
        <div class="container_default">
            <h1 class="titulo_principal">¿Por qué elegir Latinium?</h1>
            <div class="container_cuadrado">
              <div class="cuadro_a">
                <button class="icon_custom"></button>
                <p>
                  Un beneficio es la manera en la que un producto o servicio puede
                  mejorar.
                </p>
              </div>
              <div class="cuadro_a">
                <button class="icon_2"></button>
                <p>
                  Un beneficio es la manera en la que un producto o servicio puede
                  mejorar.
                </p>
              </div>
              <div class="cuadro_a">
                <button class="icon_3"></button>
                <p>
                  Un beneficio es la manera en la que un producto o servicio puede
                  mejorar.
                </p>
              </div>
            </div>
            <div class="container_cuadrado">
              <div class="cuadro_a">
                <button class="icon_4"></button>
                <p>
                  Un beneficio es la manera en la que un producto o servicio puede
                  mejorar.
                </p>
              </div>
              <div class="cuadro_a">
                <button class="icon_5"></button>
                <p>
                  Un beneficio es la manera en la que un producto o servicio puede
                  mejorar.
                </p>
              </div>
    
            </div>
          </div>
    </div>
  </body>
</html>
