<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="/css/sobreNosotros.css">
</head>
<body>
    <div class="main_lati">
        <h1>¿QUIÉN ES ELIXIR SOFTWARE?</h1>
        <div class="move_left"></div>
        <div class="move_right"></div>
        <div class="silder_container">
            <div class="slider">
                <img src="/images/eco.jpg" alt="">
                <div class="text_container">
                    <p>Somos una empresa ecuatoriana dedicada al desarrollo de software empresarial a medida y ofrecemos Software Contable Gratuito adaptado a las necesidades y leyes de las empresas en Ecuador. Nos especializamos en implementar nuestras soluciones de software de manera rápida y eficiente. </p>
                </div>
            </div>
            <div class="slider ajusta">
                <img src="/images/eco2.jpg" alt="">
                <div class="text_container">
                    <p>Nuestro equipo está compuesto por profesionales altamente capacitados en informática y contabilidad, lo que nos permite asegurar una implementación exitosa y brindar un soporte técnico profesional y eficiente en sus operaciones diarias. Utilizamos las herramientas tecnológicas más avanzadas, como Visual Studio .NET Versión 2019 y SQL Server 2005 hasta 2019, para proporcionar a nuestros clientes productos de alta calidad que responden a sus necesidades actuales de información y comodidad.</p>
                </div>
            </div>
            
        </div>
    </div>
    
</body>
<script>
    let currentIndex = 0;
const sliders = document.querySelectorAll('.slider');
const totalSliders = sliders.length;

document.querySelector('.move_right').addEventListener('click', function() {
if (currentIndex < totalSliders - 1) {
    currentIndex++;
    updateSliderPosition();
}
});

document.querySelector('.move_left').addEventListener('click', function() {
if (currentIndex > 0) {
    currentIndex--;
    updateSliderPosition();
}
});

function updateSliderPosition() {
const sliderContainer = document.querySelector('.silder_container');
const newPosition = -currentIndex * 109;
sliderContainer.style.transform = `translateX(${newPosition}%)`;
}

</script>
</html>