<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page2</title>
    <link rel="stylesheet" href="/css/sobreNosotros.css">
</head>
<body>
    <div class="main">
        <h1>NUESTROS VALORES</h1>
        <div class="container">
            <div class="izquierda">
                <p>ELIXIR SOFTWARE TIENE MUCHAS AVENTURAS QUE OFRECERTE <span>CON SUS SERVICIOS </span></p>
                <a href="/contacto">COTIZA CON NOSOTROS</a>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <img src="/images/icons/mic.png" alt="">
                    <p>LA COMUNICACIÓN ES IMPORTANTE CON NUESTROS CLIENTE Y ELIXIR NO SE QUEDA ATRÁS, NUESTRA COMUNICACIÓN ES 100% INTEGRAL CON NUESTROS CLIENTES. </p>
                </div>
                <div class="grid-item">
                    <img src="/images/icons/flash.png" alt="">
                    <p>NOS PERMITE ASESORAR Y VENDER LOS PRODUCTOS O SERVICIOS DE LA EMPRESA DE FORMA EFICAZ, YA QUE NOS PERMITE CONOCER EL PRODUCTO QUE OFRECEMOS Y ADAPTARLO A LAS NECESIDADES DE NUESTROS CLIENTES. </p>
                </div>
                <div class="grid-item">
                    <img src="/images/icons/document.png" alt="">
                    <p>
                        LAS RELACIONES ENTRE CLIENTES Y PROVEEDORES, O ENTRE DIRECTIVOS Y EMPLEADOS, SON POR ENCIMA DE TODO RELACIONES ENTRE PERSONAS Y DEBEN BASARSE EN EL RESPETO. </p>
                </div>
                <div class="grid-item">
                    <img src="/images/icons/time.png" alt="">
                    <p>
                        TRABAJAMOS CADA DÍA PARA MEJORAR NUESTROS PRODUCTOS Y SERVICIOS Y PODER BRINDARLES NUEVAS EXPERIENCIAS.</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>