<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page3</title>
    <link rel="stylesheet" href="/src/css/sobreNosotros.css">
</head>
<body>
    <div class="tool_bottom">
        <div class="tool_item">
            <p>COMO EMPRESA TENEMOS OBJETIVOS QUE CUMPLIR <span>PARA MEJORAR LA CALIDAD DE NUESTRA ATENCIÓN</span></p>
            <a href="/productos">ECHA UN VISTAZO</a>
        </div>
        <div class="tool_item custom">
            <div class="sub_container">
                <h1>MISIÓN</h1>
                <img src="/src/images/icon_sobre_.png" alt="">
            </div>
            <p id="mision">La misión de una empresa se define como la razón principal por la cual esta existe, es decir, cuál es su propósito u objetivo</p>
        </div>
        <div class="tool_item custom">
            <div class="sub_container">
                <h1>VISIÓN</h1>
                <img src="/src/images/icon_sobre.svg" alt="">
            </div>
            <p id="mision">La misión de una empresa se define como la razón principal por la cual esta existe, es decir, cuál es su propósito u objetivo</p>
        </div>
        
    </div>
</body>
</html>