<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page2</title>
    <link rel="stylesheet" href="/css/sobreNosotros.css">
</head>
<body>
    <div class="main">
        <h1>NUESTROS VALORES</h1>
        <div class="container">
            <div class="izquierda">
                <p>ELIXIR SOFTWARE TIENE MUCHAS AVENTURAS QUE OFRECERTE <span>CON SUS SERVICIOS </span></p>
                <a href="/contacto">COTIZA CON NOSOTROS</a>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <img src="/images/icons/mic.png" alt="">
                    <p>LA COMUNICACION ES IMPORTANTE CON NUESTROS CLIENTE Y ELIXIR NO SE QUEDA ATRAS, NUESTRA COMUNICACION ES 100% INTEGRAL CON NUESTROS CLIENTES </p>
                </div>
                <div class="grid-item">
                    <img src="/images/icons/flash.png" alt="">
                    <p>LA COMUNICACION ES IMPORTANTE CON NUESTROS CLIENTE Y ELIXIR NO SE QUEDA ATRAS, NUESTRA COMUNICACION ES 100% INTEGRAL CON NUESTROS CLIENTES </p>
                </div>
                <div class="grid-item">
                    <img src="/images/icons/document.png" alt="">
                    <p>LA COMUNICACION ES IMPORTANTE CON NUESTROS CLIENTE Y ELIXIR NO SE QUEDA ATRAS, NUESTRA COMUNICACION ES 100% INTEGRAL CON NUESTROS CLIENTES </p>
                </div>
                <div class="grid-item">
                    <img src="/images/icons/time.png" alt="">
                    <p>LA COMUNICACION ES IMPORTANTE CON NUESTROS CLIENTE Y ELIXIR NO SE QUEDA ATRAS, NUESTRA COMUNICACION ES 100% INTEGRAL CON NUESTROS CLIENTES </p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>