<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

  </head>
  <body>
    <div class="blanco">
        <div class="panel_main">
            <h1 class="titulo_principal">Facturación Electronica</h1>
            <div class="panelito">
              <img class="imagen_panel" src="/images/panel.png" alt="" />
              <div class="panelito_producto">
                <div class="laptop_image_con">
                  <img src="/images/laptop_e5 1.png" alt="" />
                  <button class="custom__button_main">FIRMA ELECTRÓNICA P.12
                  </button>
                  <p>ESCRITORIO</p>
                  <p>VALORADO EN</p>
                  <p id="pequeño">$19,00 – $62,00</p>
                </div>
              </div>
            </div>
            <a class="custom_a" href="/precios">Ver Planes</a>
          </div>
    </div>
    
  </body>
</html>
