---
import Page1 from "../components/darsec/darsecpage.astro";
import Page2 from "../components/darsec/page2.astro";
import Header from "../components/utils/header.astro";
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Darsec</title>
        <link rel="stylesheet" href="/css/darsec.css">
        <link rel="icon" type="image/x-icon" href="/public/latinium.svg">

    </head>
    <body>
        <Header />
        <Page1 />
        <Page2 />
    </body>
</html>
