---
import Home from '../components/fast/home.astro'
import Header from '../components/utils/header.astro';
---
<title>Fast</title>
<link rel="icon" type="image/x-icon" href="/public/latinium.svg">
<Header />

<Home />