---
import Home from '../components/firma/home.astro'
import Header from '../components/utils/header.astro';
import Page1 from '../components/firma/page1.astro';
import Footer from '../components/utils/footer.astro';

---
<title>Firma Electronica</title>
<link rel="icon" type="image/x-icon" href="/public/latinium.svg">
<Header />

<Home />

<Page1 />

<Footer />






