---
import Header from "../components/utils/header.astro";

import Page1 from "../components/inicio/page1.astro";
import Darsec from "../components/utils/panel.astro";
import Page2 from "../components/inicio/page2.astro";
import Testimonios from "../components/inicio/testimonios.astro";
import Footer from "../components/utils/footer.astro";



---
<title>Inicio</title>
<link rel="stylesheet" href="/css/header.css">
<link rel="icon" type="image/x-icon" href="/public/latinium.svg">
<Header />

<Page1 />
<Darsec />
<Page2 />
<Testimonios />

<Footer />

