---
import Header from "../components/utils/header.astro";

import Home from "../components/precios/home.astro";
import PaqueteElixir from "../components/precios/PaqueteElixir.astro";
import ArriendoTemplate from "../components/precios/ArriendoTemplate.astro";
import PanelesCustom from "../components/precios/PanelesCustom.astro";
import NewInfoTemplate from "../components/precios/NewInfoTemplate.astro";
import Footer from "../components/utils/footer.astro";
---
<title>Precios</title>
<link rel="icon" type="image/x-icon" href="/public/latinium.svg">
<Header />
<Home />
<PaqueteElixir />
<ArriendoTemplate />
<PanelesCustom />
<NewInfoTemplate />

<Footer />
