---
import Header from "../components/utils/header.astro";
import Page1 from "../components/productos/latinium.astro";
import PanelCuadrado from "../components/productos/PanelCuadrado.astro";
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latinium</title>
    <link rel="stylesheet" href="/src/css/productos.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="icon" type="image/x-icon" href="/public/latinium.svg">
</head>
<body>

    <Header />

    <Page1 />

    <PanelCuadrado />
</body>
</html>
