---
import Header from "../components/utils/header.astro";

---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/src/css/principal.css">
    <link rel="stylesheet" href="/src/css/header.css">
    <link rel="icon" type="image/x-icon" href="/public/latinium.svg">
</head>
<Header />
<body>
    <main>
        <div class="container_all column">
            <h1>ESCOGE QUE CATEGORIA DE NUESTROS PRODUCTOS TE INTERESA</h1>
            <div class="secciones">
                <a href="/primerp">LATINIUM</a>
                <a href="/darsec">DARSEC</a>
            </div>
            <div class="secciones">
                <a href="/firma">FIRMA ELECTRONICA</a> 
                <a href="/fast">FAST</a>
            </div>  
        </div>
    </main>
    
    
</body>
</html>