---
import Header from "../components/utils/header.astro";
import Index from "../components/nv_sobreNosotros/index.astro";
import Page1 from "../components/nv_sobreNosotros/page1.astro";
import Page2 from "../components/nv_sobreNosotros/page2.astro";
import Footer from "../components/utils/footer.astro";
---
<title>Sobre Nosotros</title>
<link rel="stylesheet" href="/css/margen2.0.css">
<link rel="icon" type="image/x-icon" href="/public/latinium.svg">
<Header />

<Index />

<Page1 />

<Page2 />

<Footer />


