---
import Header from "../components/utils/header.astro";
import Page1 from "../components/testimonios/page1.astro";
import Page2 from "../components/testimonios/page2.astro";
import Video from "../components/utils/videotestimonio.astro";
import Carrusel from "../components/utils/carrusel.astro";
---
<title>Testimonios</title>
<link rel="icon" type="image/x-icon" href="/public/latinium.svg">
<Header />

<Page1 />

<Page2 />

<Video />

<Carrusel />




