<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="p4_fondo_blue">
        <div class="p4_container">
            <img src="/src/img/perfil.svg" alt="">
            <h1>NOMBRE DE LA EMPRESA</h1>
            <h5>Cargo de la persona</h5>
            <p>Testimonio que emite una persona respecto de una realidad que ha presenciado y que resulta de interés.</p>
        </div>
    </div>
</body>
</html>