<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>


</head>
<body>
    <div class="container_main">
        <div class="container_blue column">
            <h1 id="t1">M치s de 9,000 clientes confian en Elixir <br> Software para encontrar su pr칩xima gran <br> contrataci칩n.</h1>
            <p id="p2">Nuestra empresa cuenta con un equipo de trabajo altamente <br>calificado en las diferentes 치reas de contabilidad y sistemas. </p>
            <div class="q_container_input">
                <div class="q_c_i_custom">
                    <img src="/src/images/input_doble.svg" alt="">
                    <h1>9,000</h1>
                    <h5 id="p3">Clientes satisfechos</h5>
                </div>
                <div class="q_c_i_custom">
                    <img src="/src/images/input_doble.svg" alt="">
                    <h1>13,000</h1>
                    <h5 id="p3">Clientes que han comprado nuestros productos</h5>
                </div>
                <div class="q_c_i_custom">
                    <img src="/src/images/input_doble.svg" alt="">
                    <h1>90%</h1>
                    <h5 id="p3">Clientes que nos vuelven a contactar</h5>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>