
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/src/css/margen.css">
</head>
<body>
    <main>
        <div class="blanco">
            <div class="contenedor_p">
                <div class="titulo_and_button">
                    <h1>Testimonios</h1> 
                    <a href="/testimonios" class="">Saber más</a>
                </div>  
                <div class="contendor_panel">
                    <div class="panelito">
                        <img class="imagen_panel" src="/src/images/panel.png" alt="">
                        <div class="ti_contendor_panelito">
                            <img src="/src/images/comillas.png" alt="">
                            <p>Esta es mi aerolínea preferida, por su servicio de primera categoría y su relación calidad-precio.</p>
                            <div class="ti_contendor_panelito_perfil_text">
                                <img src="/src/images/perfil.svg" alt="">
                                <p>BLANCA, EJECUTIVA</p>
                            </div>
                        </div>
                    </div>
                    <div class="panelito">
                        <img class="imagen_panel" src="/src/images/panel.png" alt="">
                        <div class="ti_contendor_panelito">
                            <img src="/src/images/comillas.png" alt="">
                            <p>Elixir tiene ofertas inmejorables y vuela a muchos destinos me siento cómoda usando su plataforma digital.</p>
                            <div class="ti_contendor_panelito_perfil_text">
                                <img src="/src/images/perfil.svg" alt="">
                                <p>ANA,<br>GERENTE</p>
                            </div>
                        </div>
                    </div>
                    <div class="panelito">
                        <img class="imagen_panel" src="/src/images/panel.png" alt="">
                        <div class="ti_contendor_panelito">
                            <img src="/src/images/comillas.png" alt="">
                            <p>Volar con Elixir se convierte en un verdadero lujo, gracias a la atención del personal que nos mima.</p>
                            <div class="ti_contendor_panelito_perfil_text">
                                <img src="/src/images/perfil.svg" alt="">
                                <p>ENRIQUE, EMPRESARIO</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>