<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
<div class="page2_main">
    <div class="page2_nosotros">
        <h1>EMPRESA SOCIALMENTE RESPONSABLE NUESTROS VALORES</h1>
        <div class="container">

            <div class="container_img_text">
                <img src="/images/icon_sobre.svg" alt="">
                <h6>Misión</h6>
                <p>La misión de una empresa se define como la razón principal por la cual esta existe, es decir, cuál es su propósito u objetivo y cuál es su función dentro de la sociedad. La misión de una empresa permite establecer la base de su plan de negocios y construir estrategias de mercado coherentes.</p>
            </div>

            <div class="container_img_text">
                <img src="/images/icon_sobre_.png" alt="">
                <h6>Visión</h6>
                <p>La visión permite definir el camino que se debe seguir para alcanzar las metas propuestas. Para ello, debe representar de una forma clara y realista los principios que dan una identidad a esta empresa y responder a cuestiones.</p>
            </div>

        </div>
    </div>
</div>
    
</body>
</html>