<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="page2_main">
        <div class="container_sobre">
            <h1>¿Quiénes somos?</h1>
            <p>Somos una empresa orgullosamente ecuatoriana que desarrolla software empresarial personalizado y ofrece Software Contable Gratis con base en las necesidades y leyes de las empresas del Ecuador; logrando rapidez y eficacia en la implantación de nuestras aplicaciones de software.</p>
            <p>Contamos con un selecto grupo de profesionales de las áreas de informática y de contabilidad para lograr una implantación exitosa y dar un soporte técnico profesional y eficiente en sus actividades cotidianas. Usamos las herramientas tecnológicas más modernas (Visual Studio .NET Versión 2019 y SQL Server 2005, hasta 2019) para ofrecer a nuestros clientes productos cada vez mejores que satisfacen sus necesidades más actuales de información y comodidad.</p>
        </div>
    </div>

    
</body>
</html>