<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/src/css/otro.css">
</head>
<body>
    <div class="blanco">
        <div class="redes_container">
            <div class="segundo_container">
                <a class="custom_a_redes whatsapp" href="https://api.whatsapp.com/send?phone=593983824865&text=Necesito%20m%C3%A1s%20informaci%C3%B3n"></a>
                <div class="text">
                    <h1>Whatsapp</h1>
                    <p id="whats">+54 9 11 5555-5555</p>
                </div>
            </div>
            <div class="segundo_container">
                <a class="custom_a_redes facebook" href="https://www.facebook.com/Latinium"></a>
                <div class="text">
                    <h1>Facebook</h1>
                    <p>@latinium</p>
                </div>
            </div>
            <div class="segundo_container">
                <a class="custom_a_redes instagram" href="https://www.instagram.com/latiniumsoftware/"></a>
                <div class="text">
                    <h1>Instagram</h1>
                    <p>@latiniumsoftware</p>
                </div>
            </div>
            <div class="segundo_container">
                <a class="custom_a_redes tiktok" href="https://www.tiktok.com/@elixirsoftwarecompany"></a>
                <div class="text">
                    <h1>Tik Tok</h1>
                    <p>@elixirsoftwarecompany</p>
                </div>
            </div>
            <div class="segundo_container">
                <a class="custom_a_redes email" href="#"></a>
                <div class="text">
                    <h1>Escríbenos</h1>
                    <p>info@elixir.ec</p>
                </div>
            </div>
            <div class="segundo_container">
                <a class="custom_a_redes gps" href="#"></a>
                <div class="text">
                    <h1>Oficinas</h1>
                    <p id="oficinas">Guayaquil, Cdla. Kennedy Vieja, Calle Novena Oeste y Av. San Jorge Condominio Delta Piso 2- Oficina 210 </p>
                    <p id="oficinas">Quito, Amazonas N4156 e Isla Floreana </p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>