<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <main>
        <div class="footer">
            <div class="footer_container column">
              <img src="/images/footer-logo.jpg" alt="" />
              <div class="info_container_icons">
                <div class="info_footer">
                  <img src="/images/icon_footer4.svg" alt="" />
                  <p>(+593) 0983846228</p>
                </div>
                <div class="info_footer">
                  <img src="/images/icon_footer3.svg" alt="" />
                  <p>Quito, Amazonas N4156 e Isla Floreana</p>
                </div>
                <div class="info_footer">
                  <img src="/images/icon_footer3.svg" alt="" />
                  <p>
                    Guayaquil, Cdla. Kennedy Vieja, Calle Novena Oeste y Av. San Jorge
                    Condominio Delta Piso 2- Oficina 210
                  </p>
                </div>
                <div class="info_footer">
                  <img src="/images/icon_footer2.svg" alt="" />
                  <p>info@elixir.ec</p>
                </div>
              </div>
            </div>
            <div class="info_footer_socials column">
                  <div class="footer_container">
                      <div class="info_button_footer column">
                          <a class="custom__button_cabecera" href="sobreNosotros">Sobre Nosotros</a>
                      </div>
                      <div class="info_button_footer column">
                          <a class="custom__button_cabecera" href="/productos">Productos</a>
                      </div>
                      <div class="info_button_footer column">
                          <a class="custom__button_cabecera" href="/testimonios">Testimonios</a>
                      </div>
                  </div>
                  <div class="button_footer_social ">
                      <a class="custom_a" href="#"> Siguenos</a>
                      <img src="/images/redes.svg" alt="">
                  </div>
              </div>
          </div>
    </main>
</body>
</html>