<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latinium</title>
</head>
<body>
    <div class="main_lati">
        <div class="move_left"></div>
        <div class="move_right"></div>
        <div class="silder_container">
            <div id="sli" class="slider">
                <div class="panel_morado">
                    <h5>DESDE</h5>
                    <h2>$50 + IVA</h2>
                    <h6>Contabilidad e Inventario</h6>
                    <button></button>
                    <div class="section">
                        <ul>
                            <li>3 USUARIOS COMPLETO</li>
                            <li>MÓDULO MYPIMES</li>
                            <li>FACTURACIÓN ELECTRÓNICA</li>
                            <li>REPORTES CONTABLES</li>
                            <li>REGISTRO DE PRODUCTOS Y BODEGAS</li>
                            <li>CONTROL DE INVENTARIO</li>
                            <li>240 REGISTROS DE FACTURACIÓN</li>
                        </ul>
                    </div>
                    <a href="#" class="agregar">Agregar</a>
                </div>
                <iframe width="800" height="400" src="https://www.youtube.com/embed/L2x7oI1IWzI?si=GaOlrh1ZeAw0vpgp" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="slider ajusta">
                <div class="panel_morado">
                    <h5>DESDE</h5>
                    <h2>$84 + IVA</h2>
                    <h6>Facturación electrónica ilimitada</h6>
                    <button id="facturador"></button>
                    <div class="section">
                        <ul>
                            <li>3 USUARIOS COMPLETO</li>
                            <li>MÓDULO MYPIMES</li>
                            <li>FACTURACIÓN ELECTRÓNICA</li>
                            <li>REPORTES CONTABLES</li>
                            <li>REGISTRO DE PRODUCTOS Y BODEGAS</li>
                            <li>CONTROL DE INVENTARIO</li>
                            <li>500 REGISTROS DE FACTURACIÓN</li>
                        </ul>
                    </div>
                    <a href="#" class="agregar">Agregar</a>
                </div>
                <iframe width="800" height="400" src="https://www.youtube.com/embed/6nFMxFN1HLc?si=myhdIklaFkZJDUn4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="slider ajusta">
                <div class="panel_morado">
                    <h5>DESDE</h5>
                    <h2>$120 + IVA</h2>
                    <h6 id="h6">Facturación electrónica ilimitada y facturación</h6>
                    <button id="contable"></button>
                    <div class="section">
                        <ul>
                            <li>3 USUARIOS COMPLETO</li>
                            <li>LIQUIDACION DE COMPRAS</li>
                            <li>NOTAS DE CRÉDITO/DEBITO</li>
                            <li>COMPROBANTE DE RETENCION</li>
                            <li>GUIAS DE REMISIÓN</li>
                            <li>REPORTES DE INVENTARIO</li>
                            <li>IMPORTACIÓN MASIVA CLAVE DE ACCESO</li>
                        </ul>
                    </div>
                    <a href="#" class="agregar">Agregar</a>
                </div>
                <iframe width="800" height="400" src="https://www.youtube.com/embed/HIbOcjWJRpI?si=lytdl3ySagcj6cT5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="slider ajusta">
                <div class="panel_morado">
                    <h5>DESDE</h5>
                    <h2>$240 + IVA</h2>
                    <h6>Contabilidad e Inventario</h6>
                    <button></button>
                    <div class="section">
                        <ul>
                            <li>3 USUARIOS COMPLETO</li>
                            <li>LIQUIDACION DE COMPRAS</li>
                            <li>NOTAS DE CRÉDITO/DEBITO</li>
                            <li>COMPROBANTE DE RETENCION</li>
                            <li>GUIAS DE REMISIÓN</li>
                            <li>REPORTES DE INVENTARIO</li>
                            <li>IMPORTACIÓN MASIVA CLAVE DE ACCESO</li>
                        </ul>
                    </div>
                    <a href="#" class="agregar">Agregar</a>
                </div>
                <iframe width="800" height="400" src="https://www.youtube.com/embed/L2x7oI1IWzI?si=QX4R8_xwt35L4zkZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <script>
        let currentIndex = 0;
const sliders = document.querySelectorAll('.slider');
const totalSliders = sliders.length;

document.querySelector('.move_right').addEventListener('click', function() {
    if (currentIndex < totalSliders - 1) {
        currentIndex++;
        updateSliderPosition();
    }
});

document.querySelector('.move_left').addEventListener('click', function() {
    if (currentIndex > 0) {
        currentIndex--;
        updateSliderPosition();
    }
});

function updateSliderPosition() {
    const sliderContainer = document.querySelector('.silder_container');
    const newPosition = -currentIndex * 109;
    sliderContainer.style.transform = `translateX(${newPosition}%)`;
}

    </script>
</body>
</html>
