<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latinium</title>
    <link rel="stylesheet" href="/css/darsec.css">

</head>
<body>
    <div class="main_lati">
        <h1>DARSEC</h1>
        <div class="move_left"></div>
        <div class="move_right"></div>
        <div class="silder_container">
            <div class="slider">
                <div class="panel_morado">
                    <img src="/images/image16.png" alt="">
                    <h6>DARSEC CONTABLE</h6>
                    <div class="section section_move">
                        <ul>
                            <li>Facturación Electrónica y Gestión de Documentos Ilimitada</li>
                            <li>Importación Masiva y Manejo de Datos</li>
                            <li>Gestión Integral de Clientes y Proveedores</li>
                            <li>Soporte para Múltiples Puntos de Emisión y Usuarios</li>
                           
                        </ul>
                    </div>
                    <h2 id="pequeño">$50,00 + IVA</h2>
                    <a href="/contacto" class="agregar">Agregar</a>
                </div>
            </div>
            <div class="slider">
                <div class="panel_morado">
                    <img src="/images/image16.png" alt="">
                    <h6>DARSEC SERVICIOS</h6>
                    <div class="section">
                        <ul>
                            <li>Comprobantes ILIMITADOS</li>
                            <li>Importación Masiva y Automatización</li>
                            <li>Gestión Integral de Clientes, Proveedores e Inventarios</li>
                            <li>Gestión Financiera Completa</li>
                            <li>Capacitación y Soporte Continuo</li>
                           
                        </ul>
                    </div>
                    <h2 id="pequeño">$84,00 + IVA</h2>
                    <a href="/contacto" class="agregar">Agregar</a>
                </div>
            </div>
            <div class="slider">
                <div class="panel_morado">
                    <img src="/images/darsec_logo.png" alt="">
                    <h6>DARSEC FACTURADOR</h6>
                    <div class="section">
                        <ul>
                            <li>Hasta 240 Comprobantes</li>
                            <li>Importación Masiva y Automatización</li>
                            <li>Gestión Integral de Clientes, Proveedores e Inventarios</li>
                            <li>Gestión Financiera Completa</li>
                            <li>Capacitación y Soporte Continuo</li>
                           
                        </ul>
                    </div>
                    <h2 id="pequeño">$120,00 + IVA</h2>
                    <a href="/contacto" class="agregar">Agregar</a>
                </div>
            </div>
            <div class="slider">
                <div class="panel_morado">
                    <img src="/images/darsec_logo.png" alt="">
                    <h6>DARSEC CONTABLE PRO</h6>
                    <div class="section">
                        <ul>
                            <li>Hasta 240 Comprobantes</li>
                            <li>Importación Masiva y Automatización</li>
                            <li>Gestión Integral de Clientes, Proveedores e Inventarios</li>
                            <li>Gestión Financiera Completa</li>
                            <li>Capacitación y Soporte Continuo</li>

                        </ul>
                    </div>
                    <h2 id="pequeño">$240,00 + IVA</h2>
                    <a href="/contacto" class="agregar">Agregar</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        let currentIndex = 0;
const sliders = document.querySelectorAll('.slider');
const totalSliders = sliders.length;

document.querySelector('.move_right').addEventListener('click', function() {
    if (currentIndex < totalSliders - 1) {
        currentIndex++;
        updateSliderPosition();
    }
});

document.querySelector('.move_left').addEventListener('click', function() {
    if (currentIndex > 0) {
        currentIndex--;
        updateSliderPosition();
    }
});

function updateSliderPosition() {
    const sliderContainer = document.querySelector('.silder_container');
    const newPosition = -currentIndex * 109;
    sliderContainer.style.transform = `translateX(${newPosition}%)`;
}

    </script>
</body>
</html>
