<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/darsec.css">
</head>
<body>
    <main>
        <div id ="pedro" class="ad_cards"></div>
        <div class="ad_cards none_image">
            <h1 class="titulo_principal">Beneficios del Producto</h1>
            <div class="beneficios">
              <div class="bene_container">
                <div class="div_content_bene">
                  <img class="bene_img" src="/src/images/check.png" alt="" />
                  <h6>Beneficio 1</h6>
                  <h3>
                    Automatización de procesos contables para reducir errores y aumentar la eficiencia.
                  </h3>
                </div>
                <div class="div_content_bene">
                  <img class="bene_img" src="/src/images/check.png" alt="" />
                  <h6>Beneficio 2</h6>
                  <h3>
                    Informes financieros en tiempo real para decisiones informadas y rápidas.
                  </h3>
                </div>
                <div class="div_content_bene">
                  <img class="bene_img" src="/src/images/check.png" alt="" />
                  <h6>Beneficio 3</h6>
                  <h3>
                    Cumplimiento fiscal garantizado con actualizaciones automáticas para las normativas vigentes.
                  </h3>
                </div>
                <div class="div_content_bene">
                  <img class="bene_img" src="/src/images/check.png" alt="" />
                  <h6>Beneficio 4</h6>
                  <h3>
                    Alta seguridad de datos con encriptación avanzada y copias de seguridad automáticas.
                  </h3>
                </div>
                <div class="div_content_bene">
                  <img class="bene_img" src="/src/images/check.png" alt="" />
                  <h6>Beneficio 5</h6>
                  <h3>
                    Integración fluida con otras herramientas y sistemas empresariales.
                  </h3>
                </div>
                <div class="div_content_bene">
                  <img class="bene_img" src="/src/images/check.png" alt="" />
                  <h6>Beneficio 6</h6>
                  <h3>
                    Soporte técnico especializado y formación continua para un uso óptimo del sistema.
                  </h3>
                </div>
              </div>

            </div>
            
        </div>
    </main>

</body>
</html>